# Node
node_modules/
npm-debug.log*
yarn-error.log

# Docusaurus
docs-site/.docusaurus/
docs-site/build/
docs-site/build-staging/
.cache-loader/

# Kotlin / Gradle
kotlin/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
